html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
#bgm {
  background: url(../img/bgmusic.svg) no-repeat;
  width: 1.875rem;
  height: 1.875rem;
  background-size: 100% 100%;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
#page_one {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bg11.jpg) no-repeat;
  background-size: 100% 100% ;
  display: none;
  overflow: hidden;
}
#list {
  width: 100%;
  height: 100%;
}
#list li {
  display: none;
  transform: scale(1.5);
  transition: 1s;
  width: 7.125rem;
  height: 10.875rem;
  position: absolute;
}
#list li:nth-child(1) {
  top: 15.1875rem;
  left: 6.6875rem;
  background: url(../img/chuan11.png);
  background-size: 100% 100% ;
  z-index: 1;
}
#list li:nth-child(2) {
  top: 10.6875rem;
  left: 1.25rem;
  background: url(../img/boli11.png);
  background-size: 100% 100% ;
  z-index: 2;
}
#list li:nth-child(3) {
  top: 3.9375rem;
  left: 4.1875rem;
  background: url(../img/bg2.png);
  background-size: 100% 100% ;
  z-index: 3;
}
#list li:nth-child(4) {
  top: 6.75rem;
  left: -1.5rem;
  background: url(../img/bj5.png);
  background-size: 100% 100% ;
  z-index: 4;
}
#list li:nth-child(5) {
  top: 13.5rem;
  left: 3.6875rem;
  background: url(../img/bg1.png);
  background-size: 100% 100% ;
  z-index: 5;
}
#list li:nth-child(6) {
  top: 3.1875rem;
  left: 1rem;
  background: url(../img/xi.png);
  background-size: 100% 100% ;
  z-index: 6;
}
#list li:nth-child(7) {
  top: 3.9375rem;
  left: 9.625rem;
  background: url(../img/bg9.png);
  background-size: 100% 100% ;
  z-index: 7;
}
#list li:nth-child(8) {
  top: 10.4375rem;
  left: 11.8125rem;
  background: url(../img/bg8.png);
  background-size: 100% 100% ;
  z-index: 8;
}
#list li:nth-child(9) {
  top: 5rem;
  left: 6.6875rem;
  background: url(../img/bg6.png);
  background-size: 100% 100% ;
  z-index: 9;
}
#list li:nth-child(10) {
  top: 3.375rem;
  left: 12.5rem;
  background: url(../img/bg7.png);
  background-size: 100% 100% ;
  z-index: 10;
}
#list li:nth-child(11) {
  top: 7.1875rem;
  left: 14.75rem;
  background: url(../img/bg4.png);
  background-size: 100% 100% ;
  z-index: 11;
}
#list li:nth-child(12) {
  top: 13.3125rem;
  left: 9.1875rem;
  background: url(../img/bg3.png);
  background-size: 100% 100% ;
  z-index: 12;
}
#list li:nth-child(13) {
  width: 10.6875rem;
  height: 8.875rem;
  top: 5.875rem;
  left: 3rem;
  background: url(../img/bi2.png);
  transform: rotate(90deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 13;
}
#list li:nth-child(14) {
  width: 20.0625rem;
  height: 5.375rem;
  top: 0rem;
  left: -0.0625rem;
  z-index: 14;
}
#list li:nth-child(14) .zi {
  padding: 0.4375rem 0.9375rem;
  text-align: center;
}
.zi p {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-family: arial;
}
#next {
  opacity: 0;
  transition: 1s;
  position: absolute;
  width: 4.8125rem;
  height: 10.75rem;
  left: 7.9375rem;
  top: 31.25rem;
  background: url(../img/next.png) no-repeat;
  background-size: 100% 100% ;
}
#page_two {
  width: 100%;
  height: 100%;
  background: url(../img/bg11.jpg) no-repeat;
  background-size: 100% 100% ;
  display: none;
  position: relative;
  overflow: hidden;
}
#list1 {
  width: 100%;
  height: 100%;
}
#list1 li {
  opacity: 0;
  transition: 1s;
  width: 26.25rem;
  height: 39.625rem;
  position: absolute;
  display: none;
}
#list1 li:nth-child(1) {
  top: -12.0625rem;
  left: -6.625rem;
  background: url(../img/bg3.png);
  transform: rotateZ(12deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 1;
}
#list1 li:nth-child(2) {
  top: -9.5rem;
  left: 4.6875rem;
  background: url(../img/bg6.png);
  transform: rotateZ(46deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 2;
}
#list1 li:nth-child(3) {
  top: 2.4375rem;
  left: 4.8125rem;
  background: url(../img/bg4.png);
  transform: rotateZ(332deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 3;
}
#list1 li:nth-child(4) {
  top: 2.4375rem;
  left: 4.8125rem;
  background: url(../img/bg8.png);
  transform: rotateZ(322deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 4;
}
#list1 li:nth-child(5) {
  top: -6.0625rem;
  left: -9.875rem;
  background: url(../img/bg9.png);
  transform: rotateZ(330deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 5;
}
#list1 li:nth-child(6) {
  top: -3.9375rem;
  left: -1.1875rem;
  background: url(../img/bg7.png);
  transform: rotateZ(17deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 6;
}
#list1 li:nth-child(7) {
  width: 17rem;
  height: 3.5625rem;
  top: 14.5rem;
  left: 1.375rem;
  background: #fff;
  background-size: 100% 100% ;
  z-index: 7;
}
#list1 li:nth-child(9) {
  width: 17rem;
  height: 3.5625rem;
  top: 14.5rem;
  left: 1.375rem;
  background: url(../img/zi2.png);
  background-size: 100% 100% ;
  z-index: 8;
}
#list1 li:nth-child(8) {
  width: 18.875rem;
  height: 18.5rem;
  top: 16.5625rem;
  left: 1.25rem;
  background: url(../img/bi2.png);
  transform: rotateZ(90deg) scale(1.5);
  background-size: 100% 100% ;
  z-index: 9;
}
#list1 li:nth-child(10) {
  width: 4.875rem;
  height: 10.0625rem;
  top: 32.625rem;
  left: 1.125rem;
  background: url(../img/back.png);
  background-size: 100% 100% ;
  z-index: 10;
  animation: rotate  3s infinite;
}
#list1 li:nth-child(11) {
  width: 4.875rem;
  height: 10.0625rem;
  top: 32.1875rem;
  left: 5.9375rem;
  background: url(../img/next.png);
  background-size: 100% 100% ;
  z-index: 11;
  animation: rotate 3s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
#page_three {
  width: 100%;
  height: 100%;
  background-size: 100% 100% ;
  display: none;
  position: relative;
  overflow: hidden;
}
#page3 {
  height: 100%;
}
#list3 {
  width: 100%;
  height: 100%;
}
#list3 li {
  position: absolute;
  display: none;
  opacity: 0;
}
#list3 li:nth-child(1) {
  width: 50rem;
  height: 43.75rem;
  top: -5rem;
  opacity: 0.8;
  left: -12.625rem;
  background: url(../img/bg11.png) no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(270deg);
  z-index: 1;
}
#list3 li:nth-child(2) {
  width: 50rem;
  height: 43.75rem;
  opacity: 0.6;
  top: -5rem;
  left: -39.375rem;
  background: url(../img/bg111.png) no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(270deg);
  z-index: 2;
}
#list3 li:nth-child(2) {
  width: 50rem;
  height: 43.75rem;
  top: -5rem;
  left: -39.375rem;
  background: url(../img/bg111.png) no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(270deg);
  z-index: 2;
}
#list3 li:nth-child(3) {
  width: 12.4375rem;
  height: 7rem;
  top: 1.25rem;
  left: 6.75rem;
  z-index: 3;
}
#list3 li:nth-child(4) {
  width: 16.625rem;
  height: 18.25rem;
  top: 16.375rem;
  left: -31.25rem;
  background: url(../img/dan5.png) no-repeat;
  background-size: 100% 100%;
  z-index: 4;
  display: block;
}
#list3 li:nth-child(5) {
  width: 100%;
  height: 100%;
  transition: 4s;
  background: url(../img/bg11.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 5;
}
#list3 li:nth-child(6) {
  width: 25.125rem;
  height: 38rem;
  top: -5.75rem;
  left: -3.6875rem;
  transition: 1s;
  background: url(../img/bg3.png) no-repeat;
  transform: scale(1.5) rotateZ(351deg);
  background-size: 100% 100%;
  z-index: 6;
}
#list3 li:nth-child(7) {
  width: 16.9375rem;
  height: 34.625rem;
  top: 3.5rem;
  left: 13.75rem;
  transition: 2s;
  background: url(../img/bi.png) no-repeat;
  background-size: 100% 100%;
  z-index: 7;
}
#list3 li:nth-child(8) {
  width: 4.875rem;
  height: 10.0625rem;
  top: 31.6875rem;
  left: 10rem;
  background: url(../img/back.png);
  background-size: 100% 100% ;
  z-index: 10;
  animation: rotate  3s infinite;
}
#list3 li:nth-child(9) {
  width: 4.875rem;
  height: 10.0625rem;
  top: 31.25rem;
  left: 15rem;
  background: url(../img/next.png);
  background-size: 100% 100% ;
  z-index: 11;
  animation: rotate 3s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
#page_four {
  width: 100%;
  height: 100%;
  background-size: 100% 100% ;
  display: none;
  position: relative;
  overflow: hidden;
}
#page4 {
  height: 100%;
}
#list4 {
  width: 100%;
  height: 100%;
}
#list4 li {
  position: absolute;
  display: none;
  opacity: 0;
}
#list4 li:nth-child(1) {
  width: 47.0625rem;
  height: 37.875rem;
  left: -16.875rem;
  top: 0rem;
  opacity: 0.7;
  background: url(../img/hen11.png) no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(270deg);
  z-index: 1;
}
#list4 li:nth-child(2) {
  width: 47.0625rem;
  height: 37.875rem;
  left: -43.625rem;
  top: 0rem;
  opacity: 0.6;
  background: url(../img/hen1.png) no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(270deg);
  z-index: 2;
}
#list4 li:nth-child(4) {
  width: 17.375rem;
  height: 2.875rem;
  left: 2.8125rem;
  top: 1.875rem;
  z-index: 4;
}
#list4 li:nth-child(3) {
  width: 11.4375rem;
  height: 3.0625rem;
  left: 3rem;
  top: 1.875rem;
  z-index: 3;
}
#list4 li:nth-child(5) {
  width: 14.6875rem;
  height: 17.1875rem;
  left: -16.625rem;
  top: 15.625rem;
  background: url(../img/dan8.png) no-repeat;
  background-size: 100% 100%;
  z-index: 5;
}
#list4 li:nth-child(6) {
  width: 23.5625rem;
  height: 36.1875rem;
  left: -1.75rem;
  top: 0rem;
  transition: 3s;
  background: url(../img/hou1.png) no-repeat;
  background-size: 100% 100%;
  z-index: 6;
}
#list4 li:nth-child(7) {
  width: 26.25rem;
  height: 39.625rem;
  left: -5.0625rem;
  transition: 1s;
  top: -6.6875rem;
  background: url(../img/bg8.png) no-repeat;
  background-size: 100% 100%;
  transform: scale(1.5) rotateZ(354deg);
  z-index: 7;
}
#list4 li:nth-child(8) {
  width: 16.9375rem;
  height: 34.625rem;
  left: 17.5rem;
  top: -0.9375rem;
  background: url(../img/bi.png) no-repeat;
  background-size: 100% 100%;
  z-index: 8;
}
#list4 li:nth-child(9) {
  width: 4.875rem;
  height: 10.0625rem;
  top: 31.25rem;
  left: 1.875rem;
  background: url(../img/back.png);
  background-size: 100% 100% ;
  z-index: 9;
  animation: rotate 3s infinite;
}
#list4 li:nth-child(10) {
  width: 4.875rem;
  height: 10.0625rem;
  top: 31.25rem;
  left: 6.875rem;
  background: url(../img/next.png);
  background-size: 100% 100% ;
  z-index: 10;
  animation: rotate 3s infinite;
}
